#
/.metadata/

#ignore project files
*.project
*.pydevproject
*__pycache__

#models directories
*models

#virtual environment directory
venv

#Pycharm project files
.idea/

#configuration files
*.ini
